In [1]:
import pandas as pd
import numpy as np
import re
from collections import Counter
from nltk.corpus import stopwords

In [2]:
df_deliveryPartner = pd.read_excel("C:/Users/91905/Downloads/DeliveryData.xlsx",  sheet_name = 0)
df_deliveryPartner.head()

,delivery_partner_id,partner_name,city,vehicle_type,employment_type,avg_rating,is_active
0,DP09615,Neha E,Bengaluru,Scooter,Full-time,3.77,Y
1,DP02021,Neha V,Bengaluru,Bike,Full-time,3.90,Y
2,DP05541,Vikas S,Delhi,Cycle,Part-time,3.33,Y
3,DP13859,Amit B,Delhi,Cycle,Part-time,4.07,N
4,DP08091,Arjun R,Mumbai,Car,Full-time,4.63,Y

In [3]:
# Quick look
print("\nshape:",df_deliveryPartner.shape)
print("\ninfo:")
df_deliveryPartner.info()

shape: (15000, 7)

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   delivery_partner_id  15000 non-null  object
 1   partner_name         15000 non-null  object
 2   city                 15000 non-null  object
 3   vehicle_type         15000 non-null  object
 4   employment_type      15000 non-null  object
 5   avg_rating           15000 non-null  float64
 6   is_active            15000 non-null  object
dtypes: float64(1), object(6)
memory usage: 820.4+ KB

In [4]:
df_customer = pd.read_excel("C:/Users/91905/Downloads/DeliveryData.xlsx",  sheet_name = 1)
df_customer.head()

  customer_id signup_date       city acquisition_channel
0  CUST000007  2025-03-21       Pune             Organic
1  CUST000008  2025-02-07    Kolkata            Referral
2  CUST000009  2025-02-25      Delhi                Paid
3  CUST000010  2025-01-28  Hyderabad                Paid
4  CUST000011  2025-01-18    Kolkata             Organic

In [5]:
# Quick look
print("\nshape:",df_customer.shape)
print("\ninfo:")
df_customer.info()

shape: (107776, 4)

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107776 entries, 0 to 107775
Data columns (total 4 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   customer_id          107776 non-null  object
 1   signup_date          107776 non-null  datetime64[ns]
 2   city                 107776 non-null  object
 3   acquisition_channel  107776 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 3.3+ MB

In [6]:
df_ratings = pd.read_excel("C:/Users/91905/Downloads/DeliveryData.xlsx",  sheet_name = 2)
df_ratings.head()

,order_id,customer_id,restaurant_id,rating,review_text,review_timestamp,sentiment_score
0,ORD202501023439,CUST181110,REST08622,4.5,Super fast delivery,2025-01-01 15:00:00,0.75
1,ORD202501019281,CUST179306,REST14069,4.5,Great taste!,2025-01-01 15:00:00,0.75
2,ORD202501018036,CUST093042,REST13907,5.0,Super fast delivery,2025-01-01 14:03:00,1.00
3,ORD202501007724,CUST110825,REST08451,4.0,Tasty but a bit late,2025-01-01 14:06:00,0.50
4,ORD202501002349,CUST181669,REST00225,4.4,Satisfied overall,2025-01-01 14:06:00,0.70

In [7]:
# Quick look
print("\nshape:",df_ratings.shape)
print("\ninfo:")
df_ratings.info()

shape: (68830, 7)

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68830 entries, 0 to 68829
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          68825 non-null  object
 1   customer_id       68825 non-null  object
 2   restaurant_id     68825 non-null  object
 3   rating            68825 non-null  float64
 4   review_text       68825 non-null  object
 5   review_timestamp  68825 non-null  datetime64[ns]
 6   sentiment_score   68825 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 3.7+ MB

In [8]:
df_orders = pd.read_excel("C:/Users/91905/Downloads/DeliveryData.xlsx",  sheet_name = 3)
df_orders.head()

,order_id,customer_id,restaurant_id,delivery_partner_id,order_timestamp,subtotal_amount,discount_amount,delivery_fee,total_amount,is_cod,is_cancelled
0,ORD202501023439,CUST181110,REST08622,DP05541,2025-01-01 12:00:00,471.62,35.44,30.56,466.74,N,N
1,ORD202501012051,CUST025572,REST02383,DP08091,2025-01-01 12:00:00,255.68,0.00,27.45,283.13,Y,N
2,ORD202501019281,CUST179306,REST14069,DP02021,2025-01-01 12:00:00,428.38,0.00,26.23,454.61,N,N
3,ORD202501000124,CUST191820,REST19745,DP13859,2025-01-01 12:00:00,260.81,0.00,32.75,293.56,N,N
4,ORD202501006518,CUST033760,REST12962,DP09615,2025-01-01 12:00:00,280.33,0.00,25.57,305.90,N,N

In [9]:
# Quick look
print("\nshape:",df_orders.shape)
print("\ninfo:")
df_orders.info()

shape: (149166, 11)

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149166 entries, 0 to 149165
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             149166 non-null  object
 1   customer_id          149166 non-null  object
 2   restaurant_id        149166 non-null  object
 3   delivery_partner_id  143531 non-null  object
 4   order_timestamp      149166 non-null  datetime64[ns]
 5   subtotal_amount      149166 non-null  float64
 6   discount_amount      149166 non-null  float64
 7   delivery_fee         149166 non-null  float64
 8   total_amount         149166 non-null  float64
 9   is_cod               149166 non-null  object
 10  is_cancelled         149166 non-null  object
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 12.5+ MB

In [10]:
df_orderItem = pd.read_excel("C:/Users/91905/Downloads/DeliveryData.xlsx",  sheet_name = 4)
df_orderItem.head()

,order_id,item_id,menu_item_id,restaurant_id,quantity,unit_price,item_discount,line_total
0,ORD202501006518,ITEM001,MENU12962_3216,REST12962,2,48.31,0.00,96.62
1,ORD202501006518,ITEM002,MENU12962_1962,REST12962,3,61.24,0.00,183.71
2,ORD202501019281,ITEM001,MENU14069_0510,REST14069,2,87.19,0.00,174.38
3,ORD202501019281,ITEM002,MENU14069_4308,REST14069,3,84.67,0.00,254.00
4,ORD202501023439,ITEM001,MENU08622_7574,REST08622,2,235.81,35.44,436.18

In [11]:
# Quick look
print("\nshape:",df_orderItem.shape)
print("\ninfo:")
df_orderItem.info()

shape: (342994, 8)

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342994 entries, 0 to 342993
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       342994 non-null  object
 1   item_id        342994 non-null  object
 2   menu_item_id   342994 non-null  object
 3   restaurant_id  342994 non-null  object
 4   quantity       342994 non-null  int64
 5   unit_price     342994 non-null  float64
 6   item_discount  342994 non-null  float64
 7   line_total     342994 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 20.9+ MB

In [12]:
df_deliveryPerformance = pd.read_excel("C:/Users/91905/Downloads/DeliveryData.xlsx",  sheet_name = 5)
df_deliveryPerformance.head()

,order_id,actual_delivery_time_mins,expected_delivery_time_mins,distance_km
0,ORD202501023439,31,31,6.4
1,ORD202501012051,46,42,1.9
2,ORD202501019281,25,31,6.2
3,ORD202501000124,29,41,6.2
4,ORD202501006518,37,41,2.4

In [13]:
# Quick look
print("\nshape:",df_deliveryPerformance.shape)
print("\ninfo:")
df_deliveryPerformance.info()

shape: (149166, 4)

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149166 entries, 0 to 149165
Data columns (total 4 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   order_id                     149166 non-null  object
 1   actual_delivery_time_mins    149166 non-null  int64
 2   expected_delivery_time_mins  149166 non-null  int64
 3   distance_km                  149166 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 4.6+ MB

In [14]:
df_restaurant = pd.read_excel("C:/Users/91905/Downloads/DeliveryData.xlsx",  sheet_name = 6)
df_restaurant.head()

,restaurant_id,restaurant_name,city,cuisine_type,partner_type,avg_prep_time_min,is_active
0,REST12962,Flavours of Sweets Palace,Bengaluru,Chinese,Restaurant,26-40,N
1,REST14069,Royal Biryani Darbar,Ahmedabad,Fast Food,Restaurant,16-25,Y
2,REST08622,Spicy Wraps Point,Mumbai,North Indian,Restaurant,16-25,Y
3,REST19745,Delhi Express Palace,Ahmedabad,Pizza,Cloud Kitchen,16-25,Y
4,REST02383,Namma Mess Delight,Mumbai,Healthy,Restaurant,26-40,Y

In [15]:
# Quick look
print("\nshape:",df_restaurant.shape)
print("\ninfo:")
df_restaurant.info()

shape: (19995, 7)

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19995 entries, 0 to 19994
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   restaurant_id      19995 non-null  object
 1   restaurant_name    19995 non-null  object
 2   city               19995 non-null  object
 3   cuisine_type       19995 non-null  object
 4   partner_type       19995 non-null  object
 5   avg_prep_time_min  19995 non-null  object
 6   is_active          19995 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [16]:
df_menuItem = pd.read_excel("C:/Users/91905/Downloads/DeliveryData.xlsx",  sheet_name = 7)
df_menuItem.head()

     menu_item_id restaurant_id           item_name    category is_veg   price
0  MENU12962_3216     REST12962  Paneer Tikka Pizza       Pizza      Y  271.05
1  MENU12962_1962     REST12962     Pepperoni Pizza       Pizza      N  327.26
2  MENU14069_0510     REST14069      Egg Fried Rice  Fried Rice      N  200.01
3  MENU14069_4308     REST14069        Paneer Tikka    Starters      Y  198.83
4  MENU08622_7574     REST08622        Kadai Paneer     Curries      Y  271.60

In [17]:
# Quick look
print("\nshape:",df_menuItem.shape)
print("\ninfo:")
df_menuItem.info()

shape: (342671, 6)

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342671 entries, 0 to 342670
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   menu_item_id   342671 non-null  object
 1   restaurant_id  342671 non-null  object
 2   item_name      342671 non-null  object
 3   category       342671 non-null  object
 4   is_veg         342671 non-null  object
 5   price          342671 non-null  float64
dtypes: float64(1), object(5)
memory usage: 15.7+ MB

Problem statement - 1: Compare total orders across pre-crisis (Jan–May 2025) vs crisis (Jun–Sep 2025). How severe is the decline?
Solution: Declare the timestamps of the pre-crisis and crisis using the orders datasheet.
          Count the total orders placed during the both time period.
          Calculate the decline orders amount and percentage.

In [18]:
# Define periods
pre_crisis_start = '2025-01-01'
pre_crisis_end = '2025-05-31'
crisis_start = '2025-06-01'
crisis_end = '2025-09-30'

# Filter orders for each period
pre_crisis_orders = df_orders[(df_orders['order_timestamp'] >= pre_crisis_start) & (df_orders['order_timestamp'] <= pre_crisis_end)]
crisis_orders = df_orders[(df_orders['order_timestamp'] >= crisis_start) & (df_orders['order_timestamp'] <= crisis_end)]

# Total order counts
pre_crisis_total = pre_crisis_orders['order_id'].nunique()
crisis_total = crisis_orders['order_id'].nunique()

# Calculate severity of decline
decline_amount = pre_crisis_total - crisis_total
decline_percent = decline_amount / pre_crisis_total * 100

print(f"Total orders (Jan–May 2025): {pre_crisis_total}")
print(f"Total orders (Jun–Sep 2025): {crisis_total}")
print(f"Decline in total orders: {decline_amount} ({decline_percent:.2f}%)")

Total orders (Jan–May 2025): 113111
Total orders (Jun–Sep 2025): 35085
Decline in total orders: 78026 (68.98%)

Problem statement - 2: Which top 5 city groups experienced the highest percentage decline in orders during the crisis period compared to the pre-                             crisis period?
Solution: Merge the restaurant sheet data with orders to find their respective citys.
          Find the top city by orders in both the period and find the difference.

In [19]:
# Merge orders with city information (you may also use restaurant city if preferred)
pre_crisis_orders = pre_crisis_orders.merge(df_restaurant[['restaurant_id', 'city']], on='restaurant_id', how='left')
crisis_orders = crisis_orders.merge(df_restaurant[['restaurant_id', 'city']], on='restaurant_id', how='left')

In [20]:
# Aggregate order counts by city in both periods
pre_crisis_top_city = pre_crisis_orders.groupby('city')['order_id'].nunique()
crisis_top_city = crisis_orders.groupby('city')['order_id'].nunique()

In [21]:
# Combine and calculate percentage decline
summary = pd.DataFrame({
    'pre_crisis_orders': pre_crisis_top_city,
    'crisis_orders': crisis_top_city
}).fillna(0)
summary['decline_pct'] = (summary['pre_crisis_orders'] - summary['crisis_orders']) / summary['pre_crisis_orders'] * 100

# Sort and select top 5 cities with highest decline
top5_declines = summary.sort_values('decline_pct', ascending=False).head(5)

print(top5_declines)

           pre_crisis_orders  crisis_orders  decline_pct
city
Chennai                11467           3432    70.070637
Bengaluru              28047           8627    69.240917
Kolkata                10400           3204    69.192308
Hyderabad              11492           3559    69.030630
Ahmedabad               9298           2899    68.821252

Problem statement - 3: Among restaurants with at least 50 pre-crisis orders, which top 10 high-volume restaurants experienced the largest percentage                          decline in order counts during the crisis period?
Solution: Calculate the number of order received by the restaurant in both pre-crisis & crisis period.
          Select the top 10 pre-crisis restaurant and compare them to the crisis period and calculate the difference.
Note: Non of restaurant in the given dataset exceeds the order count of 50 during the the pre-crisis period.

In [22]:
# Count orders received by each restaurant
pre_crisis_top_rest = pre_crisis_orders.groupby('restaurant_id')['order_id'].nunique().sort_values(ascending=False)
crisis_top_rest = crisis_orders.groupby('restaurant_id')['order_id'].nunique().sort_values(ascending=False)
# Combine counts into a DataFrame
summary = pd.DataFrame({'pre_crisis': pre_crisis_top_rest, 'crisis': crisis_top_rest}).fillna(0)
pre_crisis_top_rest.head()

restaurant_id
REST16529    21
REST16780    18
REST11694    17
REST13412    17
REST11761    16
Name: order_id, dtype: int64

In [23]:
# Filter for restaurants with at least 50 pre-crisis orders
filtered = summary[summary['pre_crisis'] >= 50]

# Calculate percentage decline
filtered['decline_pct'] = (filtered['pre_crisis'] - filtered['crisis']) / filtered['pre_crisis'] * 100

# Get top 10 by percentage decline
top10_restaurants = filtered.sort_values('decline_pct', ascending=False).head(10)

print(top10_restaurants)

#No restaurant with 50+ orders

Empty DataFrame
Columns: [pre_crisis, crisis, decline_pct]
Index: []

Problem statement - 4: Cancellation Analysis: What is the cancellation rate trend pre-crisis vs crisis, and which cities are most affected?
Solution: Count the orders cancelled and delivered for both time periods. Calculate the cancellation rate of the overall orders for both time periods.
          Filter the cancelled dataframe for both time period and group them by city to get the count of cancelled orders for each city.
          Similarly get the total orders for each city in both period to calculate the cancellation rate.

In [24]:
# Count the accpected orders and rejected order
pre_crisis_order_status = pre_crisis_orders.groupby('is_cancelled')['order_id'].nunique()
crisis_order_status = crisis_orders.groupby('is_cancelled')['order_id'].nunique()
# Calculate the percent of orders cancelled
pre_crisis_cancelRate = pre_crisis_order_status['Y'] / (pre_crisis_order_status['N'] + pre_crisis_order_status['Y']) * 100
crisis_cancelRate = crisis_order_status['Y'] / (crisis_order_status['N'] + crisis_order_status['Y']) * 100
print(f"Orders delivered during pre-crisis:{pre_crisis_order_status['N']}")
print(f"Orders cancelled during pre-crisis:{pre_crisis_order_status['Y']}")
print(f"Percentage of orders cancelled during pre-crisis:{pre_crisis_cancelRate:.2f}%")
print(f"Orders delivered during crisis:{crisis_order_status['N']}")
print(f"Orders cancelled during crisis:{crisis_order_status['Y']}")
print(f"Percentage of orders cancelled during crisis:{crisis_cancelRate:.2f}%")

Orders delivered during pre-crisis:106255
Orders cancelled during pre-crisis:6856
Percentage of orders cancelled during pre-crisis:6.06%
Orders delivered during crisis:30906
Orders cancelled during crisis:4179
Percentage of orders cancelled during crisis:11.91%

In [25]:
# Filter for cancelled orders 
pre_crisis_cancelled_orders = pre_crisis_orders[pre_crisis_orders['is_cancelled'] == 'Y']
crisis_cancelled_orders = crisis_orders[crisis_orders['is_cancelled'] == 'Y'] 

# Group and count by city
pre_crisis_cancelled_by_city = pre_crisis_cancelled_orders.groupby('city')['order_id'].nunique().sort_values(ascending=False)
crisis_cancelled_by_city = crisis_cancelled_orders.groupby('city')['order_id'].nunique().sort_values(ascending=False)

# Get total orders by city
pre_crisis_total_city =  pre_crisis_orders.groupby('city')['order_id'].nunique().sort_values(ascending=False)
crisis_total_city = crisis_orders.groupby('city')['order_id'].nunique().sort_values(ascending=False)

# Calculate the cancel rate by city
pre_crisis_calcelRate_city = pre_crisis_cancelled_by_city / pre_crisis_total_city * 100
crisis_calcelRate_city = crisis_cancelled_by_city / crisis_total_city * 100
# Combine and calculate percentage decline
cancelled_summary = pd.DataFrame({
    'pre_crisis_totalorders': pre_crisis_total_city,
    'pre_crisis_cancelled_orders': pre_crisis_cancelled_by_city,
    'pre_crisis_cancelRate': pre_crisis_calcelRate_city,
    'crisis_totalorders': crisis_total_city,
    'crisis_cancelled_orders': crisis_cancelled_by_city,
    'crisis_cancelRate': crisis_calcelRate_city
}).fillna(0)
cancelled_summary

,pre_crisis_totalorders,pre_crisis_cancelled_orders,pre_crisis_cancelRate,crisis_totalorders,crisis_cancelled_orders,crisis_cancelRate
city,,,,,,
Ahmedabad,9298,565,6.076576,2899,377,13.004484
Bengaluru,28047,1732,6.175349,8627,1017,11.788571
Chennai,11467,695,6.060870,3432,418,12.179487
Delhi,16737,1034,6.177929,5254,581,11.058241
Hyderabad,11492,701,6.099896,3559,426,11.969654
Kolkata,10400,610,5.865385,3204,380,11.860175
Mumbai,16698,978,5.856989,5231,645,12.330338
Pune,8972,541,6.029871,2879,335,11.635985

Problem statement - 5: Delivery SLA: Measure average delivery time across phases. Did SLA compliance worsen significantly in the crisis period?
Solution: Filter the delivered order for the both time periods and merge it with the Delivery performance dataframe to get the actual and expected               delivery time  for each order. Calculate the SLA compliance for each order.

In [26]:
# Filter for delivered orders 
pre_crisis_delivered_orders = pre_crisis_orders[pre_crisis_orders['is_cancelled'] == 'N']
crisis_delivered_orders = crisis_orders[crisis_orders['is_cancelled'] == 'N'] 
# Merge orders with delivery time sheet
pre_crisis_delivery = pre_crisis_delivered_orders.merge(df_deliveryPerformance[['order_id', 'actual_delivery_time_mins', 'expected_delivery_time_mins']], on='order_id', how='left')
crisis_delivery = crisis_delivered_orders.merge(df_deliveryPerformance[['order_id', 'actual_delivery_time_mins', 'expected_delivery_time_mins']], on='order_id', how='left')

# Calculate average delivery time
avg_delivery_pre = pre_crisis_delivery['actual_delivery_time_mins'].mean()
avg_delivery_crisis = crisis_delivery['actual_delivery_time_mins'].mean()

# Calculate SLA compliance: % of orders delivered within or equal to SLA
sla_compliance_pre = (pre_crisis_delivery['actual_delivery_time_mins'] <= pre_crisis_delivery['expected_delivery_time_mins']).mean() * 100
sla_compliance_crisis = (crisis_delivery['actual_delivery_time_mins'] <= crisis_delivery['expected_delivery_time_mins']).mean() * 100

print(f"Pre-crisis average delivery time: {avg_delivery_pre:.2f} mins")
print(f"Crisis average delivery time: {avg_delivery_crisis:.2f} mins")
print(f"Pre-crisis SLA compliance: {sla_compliance_pre:.2f}%")
print(f"Crisis SLA compliance: {sla_compliance_crisis:.2f}%")

Pre-crisis average delivery time: 39.52 mins
Crisis average delivery time: 60.14 mins
Pre-crisis SLA compliance: 43.60%
Crisis SLA compliance: 12.31%

Problem statement - 6: Ratings Fluctuation: Track average customer rating month-by-month. Which months saw the sharpest drop?
Solution: Group the ratings by month and calculate its average. Calculate the month-over-month difference of  ratings to identify the drop in rating.

In [27]:
# Extract year and month for grouping
df_ratings['year_month'] = df_ratings['review_timestamp'].dt.to_period('M')

# Calculate average rating per month
monthly_avg = df_ratings.groupby('year_month')['rating'].mean()

print(monthly_avg)

# Identify months with sharpest drops by calculating month-over-month difference
monthly_diff = monthly_avg.diff()

# Find months with largest negative changes
sharpest_drops = monthly_diff.nsmallest(3)

print("Months with sharpest drops in average rating:")
print(sharpest_drops)

year_month
2025-01    4.576351
2025-02    4.399887
2025-03    4.737654
2025-04    4.297022
2025-05    4.488336
2025-06    2.625666
2025-07    2.689794
2025-08    2.402017
2025-09    2.305791
Freq: M, Name: rating, dtype: float64
Months with sharpest drops in average rating:
year_month
2025-06   -1.862669
2025-04   -0.440632
2025-08   -0.287776
Freq: M, Name: rating, dtype: float64

Problem statement - 7: Sentiment Insights: During the crisis period, identify the most frequently occurring negative keywords in customer review                              texts. (Hint: Use a Word Cloud visual in Power BI to visualize the findings.)
Solution: Seperate the ratings for the crisis period by review timestamp. Combine the reviews and normalize the format and remove its punctuation.
          Tokenize it and remove stopwords (such as "the", "is", "and", "of", "to"). Identify and define some common negative words and count all of             their occurances.

In [28]:
# Filter for crisis period reviews
crisis_reviews = df_ratings[(df_ratings['review_timestamp'] >= '2025-06-01') & (df_ratings['review_timestamp'] <= '2025-09-30')]['review_text'].dropna().astype(str)

# Combine all review texts into one string
text = ' '.join(crisis_reviews).lower()

# Clean up text (remove punctuation)
text = re.sub(r'[^\w\s]', ' ', text)

# Tokenize
words = text.split()

# Remove stopwords (such as "the", "is", "and", "of", "to")
stop_words = set(stopwords.words('english'))
words = [word for word in words if word not in stop_words]

# Define list of typical negative keywords
negative_keywords = ['bad', 'poor', 'late', 'horrible', 'cold', 'terrible', 'worst', 'stale', 'issue','hygiene']

# Count word frequencies
word_counts = Counter(words)
negative_counts = {word: word_counts.get(word, 0) for word in negative_keywords}

# Sort negative keywords by frequency
negative_counts_sorted = dict(sorted(negative_counts.items(), key=lambda item: item[1], reverse=True))

print("Most frequent negative keywords during crisis period:")
print(negative_counts_sorted)

Most frequent negative keywords during crisis period:
{'issue': 2054, 'late': 1112, 'cold': 1036, 'poor': 995, 'bad': 964, 'stale': 959, 'worst': 154, 'terrible': 131, 'hygiene': 131, 'horrible': 125}

Problem statement - 8: Revenue Impact: Estimate revenue loss from pre-crisis vs crisis (based on subtotal, discount, and delivery fee).
Solution: Calculate net revenue (total - discount + delivery fee) for each period and find their difference.

In [29]:
# Calculate net revenue (total - discount + delivery fee) for each period
pre_crisis_revenue = (pre_crisis_orders['subtotal_amount'] - pre_crisis_orders['discount_amount'] + pre_crisis_orders['delivery_fee']).sum()
crisis_revenue = (crisis_orders['subtotal_amount'] - crisis_orders['discount_amount'] + crisis_orders['delivery_fee']).sum()

# Calculate revenue loss
revenue_loss = pre_crisis_revenue - crisis_revenue

print(f"Pre-crisis revenue: ₹{pre_crisis_revenue:,.2f}")
print(f"Crisis revenue: ₹{crisis_revenue:,.2f}")
print(f"Estimated revenue loss: ₹{revenue_loss:,.2f}")

Pre-crisis revenue: ₹37,390,173.08
Crisis revenue: ₹10,858,593.00
Estimated revenue loss: ₹26,531,580.08

Problem statement - 9: Loyalty Impact: Among customers who placed five or more orders before the crisis, determine how many stopped ordering during                           the crisis, and out of those, how many had an average rating above 4.5?
Solution: Filter out the customers with more than 4 orders during the pre-crisis period. Similarly filter the customers who order during the crisis              period(no minimum order restriction). Using the both find the customers stopped ordering during the crisis and find whom among them had                rating of 4.5 or more.

In [30]:
# Customers with 5 or more orders pre-crisis
pre_crisis_customer_counts = pre_crisis_orders.groupby('customer_id')['order_id'].nunique()
active_customers = pre_crisis_customer_counts[pre_crisis_customer_counts >= 5].index

# Customers ordering during crisis
crisis_customers = crisis_orders['customer_id'].unique()

# Customers who stopped ordering during crisis
stopped_customers = set(active_customers) - set(crisis_customers)

# Get average rating per customer
avg_ratings = df_ratings.groupby('customer_id')['rating'].mean()

# Among stopped customers, count how many have average rating above 4.5
high_rating_stopped = [c for c in stopped_customers if avg_ratings.get(c, 0) > 4.5]

# Print results
print(f"Number of customers with >=5 pre-crisis orders who stopped ordering during crisis: {len(stopped_customers)}")
print(f"Number of these customers with average rating > 4.5: {len(high_rating_stopped)}")

Number of customers with >=5 pre-crisis orders who stopped ordering during crisis: 48
Number of these customers with average rating > 4.5: 25

Problem statement - 10: Customer Lifetime Decline: Which high-value customers (top 5% by total spend before the crisis) showed the largest drop in                             order frequency and ratings during the crisis? What common patterns (e.g., location, cuisine preference, delivery delays) do                           they share?
Solution: Filter the top 5% customer by total spend during the crisis period. Find their order count during the both time periods. Calculate the                 decline in their order rate and ratings over the both time period. Then group them by the their city and cuisine to find the common patterns.
          For delivery time pattern

In [31]:
# Total spend pre-crisis and crisis by customer
total_spend_pre_crisis = pre_crisis_orders.groupby('customer_id')['subtotal_amount'].sum()
total_spend_crisis = crisis_orders.groupby('customer_id')['subtotal_amount'].sum()

# Identify top 5% high-value customers
threshold = total_spend_pre_crisis.quantile(0.95)
top_customers = total_spend_pre_crisis[total_spend_pre_crisis >= threshold].index

# Order count pre-crisis and crisis for top customers
order_counts_pre = pre_crisis_orders[pre_crisis_orders['customer_id'].isin(top_customers)].groupby('customer_id')['order_id'].nunique()
order_counts_crisis = crisis_orders[crisis_orders['customer_id'].isin(top_customers)].groupby('customer_id')['order_id'].nunique()

# Ratings pre-crisis and crisis for top customers
ratings_pre = df_ratings[(df_ratings['review_timestamp'] >= '2025-01-01') & (df_ratings['review_timestamp'] <= '2025-05-31') & (df_ratings['customer_id'].isin(top_customers))]
ratings_crisis = df_ratings[(df_ratings['review_timestamp'] >= '2025-06-01') & (df_ratings['review_timestamp'] <= '2025-09-30') & (df_ratings['customer_id'].isin(top_customers))]

avg_rating_pre = ratings_pre.groupby('customer_id')['rating'].mean()
avg_rating_crisis = ratings_crisis.groupby('customer_id')['rating'].mean()

# Calculate drops
order_drop = (order_counts_pre - order_counts_crisis).fillna(0)
rating_drop = (avg_rating_pre - avg_rating_crisis).fillna(0)

# Combine into summary
summary = pd.DataFrame({
    'order_drop': order_drop,
    'rating_drop': rating_drop
}).fillna(0)

# Select top customers with largest drops (both order and rating drops)
largest_drop_customers = summary[(summary['order_drop'] > 0) & (summary['rating_drop'] > 0)].sort_values(['order_drop', 'rating_drop'], ascending=False).head(20)

# Explore common patterns: location, cuisine, delivery delays

# Merge orders for these customers with restaurant data
relevant_orders = df_orders[df_orders['customer_id'].isin(largest_drop_customers.index)]
relevant_orders = relevant_orders.merge(df_restaurant[['restaurant_id', 'city', 'cuisine_type']], on='restaurant_id', how='left')

# Check most common city and cuisine for these customers
common_city = relevant_orders.groupby('city')['order_id'].count().sort_values(ascending=False).head(5)
common_cuisine = relevant_orders.groupby('cuisine_type')['order_id'].count().sort_values(ascending=False).head(5)

# Delivery delays: average delivery time for their orders during crisis
delivery_merged = df_deliveryPerformance.merge(relevant_orders[['order_id']], on='order_id', how='inner')
avg_delivery_time = delivery_merged['actual_delivery_time_mins'].mean()
# Create a new column 'delivery_status' with 'On-time' or 'Delayed' values
delivery_merged['delivery_status'] = delivery_merged.apply(
    lambda row: 'On-time' if row['actual_delivery_time_mins'] <= row['expected_delivery_time_mins'] else 'Delayed',
    axis=1
)
delivery_status_counts = delivery_merged['delivery_status'].value_counts()



print("Top 5 cities among the high-value customers with largest drops:")
print(common_city)

print("Top 5 cuisines among the high-value customers with largest drops:")
print(common_cuisine)

print(f"Average delivery time for the high-value customers' orders during crisis: {avg_delivery_time:.2f} mins")
print("Delivery status among the high-value customers with largest drops:")
print(delivery_status_counts)

print("Customers with largest drops:")
print(largest_drop_customers)

Top 5 cities among the high-value customers with largest drops:
city
Bengaluru    25
Delhi        19
Mumbai       19
Hyderabad    15
Ahmedabad     9
Name: order_id, dtype: int64
Top 5 cuisines among the high-value customers with largest drops:
cuisine_type
North Indian    24
Biryani         17
Chinese         16
Fast Food       14
South Indian    12
Name: order_id, dtype: int64
Average delivery time for the high-value customers' orders during crisis: 43.70 mins
Delivery status among the high-value customers with largest drops:
delivery_status
Delayed    71
On-time    36
Name: count, dtype: int64
Customers with largest drops:
             order_drop  rating_drop
customer_id
CUST105415          4.0     2.300000
CUST192705          4.0     2.100000
CUST197169          4.0     1.750000
CUST146179          4.0     1.566667
CUST136053          4.0     0.600000
CUST075866          3.0     2.800000
CUST139713          3.0     2.700000
CUST154907          3.0     2.633333
CUST145193          3.0     2.250000
CUST045980          3.0     2.200000
CUST019846          3.0     2.166667
CUST054238          3.0     2.100000
CUST170859          3.0     2.000000
CUST114844          3.0     1.900000
CUST126550          3.0     1.666667
CUST058126          3.0     1.600000
CUST155346          3.0     1.500000
CUST169056          3.0     1.500000
CUST199282          3.0     1.350000
CUST133600          3.0     1.250000